
/*单选复选框样式*/
input[type=radio].fm-control {
    padding: 0px;
    margin: 5px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    content: url('../images/form/radio.png');
    cursor: pointer;
}

input[type=radio].fm-control:checked {
    content: url('../images/form/radio-checked.png');
}

input[type=radio].fm-control:disabled {
    content: url('../images/form/radio-disable.png');
    cursor: not-allowed;
}

input[type=radio].fm-control:checked:disabled {
    content: url('../images/form/radio-checked-disable.png');
}

input[type=checkbox].fm-control {
    padding: 0px;
    margin: 5px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    content: url('../images/form/checkbox.png');
    cursor: pointer;
}

input[type=checkbox].fm-control:checked {
    content: url('../images/form/checkbox-checked.png');
}

input[type=checkbox].fm-control:disabled {
    content: url('../images/form/checkbox-disable.png');
    cursor: not-allowed;
}

input[type=checkbox].fm-control:checked:disabled {
    content: url('../images/form/checkbox-checked-disable.png');
}

input[type=checkbox].fm-control.blue {
    content: url('../images/form/checkbox.png');
}

input[type=checkbox].fm-control.blue:checked {
    content: url('../images/form/checkbox-checked-blue.png');
}

/*checkbox和radio后的label的样式*/
input[type=checkbox].fm-control+label,
input[type=radio].fm-control+label {
    padding: 5px;
    margin: 0px;
    vertical-align: middle;
    font-size: 12px;
    color: #182848;
    font-weight: normal;
    line-height: 20px;
    cursor: pointer;
}

input[type=checkbox].fm-control:disabled+label,
input[type=radio].fm-control:disabled+label {
    color: rgba(24, 40, 72, 0.5);
    cursor: not-allowed;
}

/*输入框的样式*/
input[type=text].fm-control {
    display: inline-block;
    width: 100%;
    height: 24px;
    box-shadow: none;
    border: 1px solid rgba(24, 40, 72, 0.3);
    border-radius: 3px;
    padding: 6px 12px;
    color: #182848;
    font-size: 12px;
    background: transparent;
}

input[type=text].fm-control:focus {
    border-color: #5693ff;
    box-shadow: none;
}

input[type=number].fm-control {
    display: inline-block;
    width: 100%;
    height: 24px;
    box-shadow: none;
    border: 1px solid rgba(24, 40, 72, 0.3);
    border-radius: 3px;
    padding: 6px 0px 6px 12px;
    color: #182848;
    font-size: 12px;
    background: transparent;
}

input[type=number].fm-control:focus {
    border-color: #5693ff;
    box-shadow: none;
}


/*下拉框样式*/
select.fm-control {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 22px;
    border-color: rgba(24, 40, 72, 0.3);
    border-radius: 3px;
    padding: 0 12px 0 10px;
    box-shadow: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #ffffff;
    background: url('../images/form/select-close.png') no-repeat right center transparent;
    background-origin: content-box;
    color: #182848;
    font-size: 12px;
}

select.fm-control:focus {
    border-color: #5693ff;
    box-shadow: none;
    background-color: #ffffff;
    background: url('../images/form/select-open.png') no-repeat right center transparent;
    background-origin: content-box;
    color: #5693ff;
}

select.fm-control>option {
    color: #182848;
    font-size: 12px;
}

button.fm-control {
    width: 100px;
    height: 24px;
    font-size: 12px;
    background-color: #ffffff;
    color: #b4c1db;
    border-radius: 5px;
    padding: 0px;
    border: none;
}

button.fm-control.fm-btn-primary {
    color: #ffffff;
    background-color: #636ef5;
}

button.fm-control.fm-btn-primary:hover:enabled,
button.fm-control.fm-btn-primary:active:enabled {
    background-color: #454dab;
}

button.fm-control.fm-btn-info {
    color: #ffffff;
    background-color: #fa5883;
}

button.fm-control.fm-btn-info:hover:enabled,
button.fm-control.fm-btn-info:active:enabled {
    background-color: #dd4e74;
}

/* 按钮样式 */

button.fm-btn {
    width: 100px;
    height: 24px;
    font-size: 12px;
    background-color: #ffffff;
    color: #b4c1db;
    border-radius: 5px;
    padding: 0px;
    border: none;
}

button.fm-btn.primary {
    color: #ffffff;
    background-color: #636ef5;
}

button.fm-btn.primary:hover:enabled,
button.fm-btn.primary.active:enabled {
    background-color: #454dab;
}

button.fm-btn.info {
    color: #ffffff;
    background-color: #fa5883;
}

button.fm-btn.info:hover:enabled,
button.fm-btn.info.active:enabled {
    background-color: #dd4e74;
}

button.fm-img-btn {
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
}

button.fm-img-btn.save {
    width: 20px;
    height: 20px;
    background-image: url(../images/form/icon-save.png);
}

button.fm-img-btn.delete {
    width: 22px;
    height: 20px;
    background-image: url(../images/form/icon-delete.png);
}
