/**************************任务列表弹出样式修改********************************/
.ngdialog.ngdialog-theme-default {
  padding: 0;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 0;
  padding: 0;
  background-size: cover;
}
.ngdialog.ngdialog-theme-default .ngdialog-close {
  height: 12px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 15px;
  width: 12px;
  background: url('../../images/webEditor/task/icon_closed_normal.png') no-repeat;
}
.ngdialog.ngdialog-theme-default .ngdialog-close:hover {
  background: url('../../images/webEditor/task/icon_closed_active.png') no-repeat;
}
.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  content: '';
  height: 0;
  width: 0;
}
.taskList_container {
  width: 100%;
  height: 100%;
  padding-left: 240px;
  font-size: 0;
}
.taskList_container.right .task-table-title {
  margin-left: 25px;
}
.taskList_container.left .task-table-title {
  margin-left: 0;
  padding-left: 10px;
}
/******************************任务列表左侧样式*************************************/
.taskList_container {
  transition: cubic-bezier(0, 0.96, 0.57, 0.95) 0.3s;
}
.taskList_container.open {
  display: block;
}
.taskList_container.close {
  display: none;
}
.taskList_container .taskList_leftDiv {
  width: 240px;
  height: 100%;
  background: url('../../images/newPoi/taskList/button-big-background.png') no-repeat;
  background-size: cover;
  margin-left: -240px;
  float: left;
}
.taskList_container .taskList_leftDiv .left-menu-header {
  height: 50px;
  width: 240px;
}
.taskList_container .taskList_leftDiv .left-menu-header .left-menu-text {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-size: 16px;
  color: #fff;
  height: 51px;
  cursor: default;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.taskList_container .taskList_leftDiv .left-menu-header .left-menu-fold {
  position: absolute;
  left: 205px;
  height: 20px;
  width: 20px;
  top: 15px;
  background-color: white;
  transition: cubic-bezier(0, 0.96, 0.57, 0.95) 0.3s;
  cursor: pointer;
}
.taskList_container .taskList_leftDiv .left-menu-header .left-menu-fold.left {
  background: url('../../images/webEditor/task/icon_left_fold.png') no-repeat;
}
.taskList_container .taskList_leftDiv .left-menu-header .left-menu-fold.right {
  background: url('../../images/webEditor/task/icon_right_fold.png') no-repeat;
  margin-left: 10px;
}
.taskList_container .taskList_leftDiv .left-menu-list .left-menu-title .childTaskListTitle {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.taskList_container .taskList_leftDiv .left-menu-list .left-menu-title .parent-task-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-size: 14px;
  color: #fff;
  height: 50px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.taskList_container .taskList_leftDiv .left-menu-list .left-menu-title .child-task-list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.taskList_container .taskList_leftDiv .task-list-option {
  position: absolute;
  bottom: 0;
  height: 51px;
  width: 240px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.taskList_container .taskList_leftDiv .task-list-option .task-list-button {
  display: flex;
  font-size: 14px;
  color: #fff;
  border: none;
  width: 100px;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  line-height: 0;
  border-radius: 3px;
}
.taskList_container .taskList_leftDiv .task-list-option .task-list-button.blue {
  background-color: #3399ff;
}
.taskList_container .taskList_leftDiv .task-list-option .task-list-button.blue:focus {
  outline: none;
}
.taskList_container .taskList_leftDiv .task-list-option .task-list-button.red {
  background-color: #ff6699;
}
.listUlCss {
  margin-bottom: 0;
  display: block;
  box-shadow: none;
}
.listUlCss > li {
  list-style: none;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.taskListDesc {
  font-size: 12px;
  color: #fff;
  display: inline-block;
  width: 182px;
  padding-left: 35px;
}
.taskListNum {
  font-family: Arial, sans-serif;
  text-align: right;
  font-size: 10px;
  color: #fff;
  display: inline-block;
  width: 40px;
}
.historyTaskList {
  padding-left: 15px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.historyTaskList:hover {
  background-color: #636ef5;
}
.taskListSelect {
  background-color: #636ef5;
}
.taskListLi:hover {
  background-color: #636ef5;
  cursor: pointer;
}
.childTaskListTitle {
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  color: #ffffff;
}
.childTaskListTitle > div {
  width: 210px;
  padding-left: 15px;
  display: inline-block;
}
.task-panel-close {
  color: #636ef5;
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 14px;
  cursor: pointer;
  background: url('../../images/webEditor/task/icon_closed_normal.png') no-repeat;
  height: 12px;
  width: 12px;
}
.task-panel-close:hover {
  background: url('../../images/webEditor/task/icon_closed_active.png') no-repeat;
}
.ngdialog.no-overflow {
  overflow: visible;
}
/*********************************  UI Grid 分页样式  ******************************/
.task-pager {
  text-align: right;
  width: 100%;
  justify-content: flex-end;
  padding: 13px !important;
}
.task-pager .pager-content {
  margin: 0 5px;
}
.task-pager .pager-content .btn-page-container {
  display: flex;
}
.task-pager .pager-content .btn-page-container .btn-page {
  margin: 0 3px;
  cursor: pointer;
}
/******************************右侧任务列表*********************************/
.taskList_image {
  display: inline-block;
  width: 64px;
  height: 24px;
  vertical-align: middle;
}
.taskList_rightDiv {
  width: 100%;
  font-size: 12px;
  background-color: #fff;
  height: 100%;
}
.taskList_rightDiv .task-table-title {
  display: flex;
  padding: 10px 20px 10px 25px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  height: 50px;
  transition: all .3s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #fff;
  color: #636ef5;
}
.taskListStyle_title {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.taskListStyle_title.green {
  border-bottom: 1px solid #636ef5;
}
.taskListStyle_title.red {
  border-bottom: 1px solid #fa5883;
}
.taskListStyle_title_desc {
  display: inline-block;
  padding-left: 10px;
}
.taskListStyle_title_desc > span {
  font-weight: 600;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}
.taskListStyle_title_desc > span.long-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 25px;
}
.taskListStyle_title_submit_image {
  display: inline-block;
  width: 64px;
  height: 24px;
  vertical-align: middle;
  background-color: #636ef5;
  border-radius: 10px;
  line-height: 2;
  text-align: center;
  color: #fff;
}
.taskListStyle_title_submit_image:hover {
  cursor: pointer;
  background-color: #454dab;
}
.taskListStyle_title_dayCheckTips {
  display: inline-block;
  width: 66px;
  height: 24px;
  vertical-align: middle;
  text-align: center;
  background-color: #fa5883;
  line-height: 24px;
  color: #fff;
  border-radius: 10px;
}
.taskListStyle_title_dayCheckTips:hover {
  background-color: #dd4e74;
  cursor: pointer;
}
.taskListStyle_title_canClose_image {
  display: inline-block;
  width: 64px;
  height: 24px;
  vertical-align: middle;
  background: url('../../images/newPoi/taskList/button_canClose_normal.png') no-repeat;
}
.taskListStyle_title_canClose_image:hover {
  background: url('../../images/newPoi/taskList/button_canClose_active.png') no-repeat;
  cursor: pointer;
}
.taskListStyle_title_close_image {
  display: inline-block;
  width: 64px;
  height: 24px;
  vertical-align: middle;
  background: url('../../images/newPoi/taskList/button_close_normal.png') no-repeat;
}
.taskListStyle_body {
  padding-left: 20px;
}
.taskListStyle_body .task-quality-icon {
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 58px;
  height: 57px;
  background-image: url(../../images/newPoi/taskList/quality.png);
}
.taskListStyle_body_line {
  height: 30px;
  line-height: 30px;
}
.taskListStyle_body_line .btn-task-lang {
  width: 120px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
.taskListStyle_body_line .btn-task-lang.btn-close {
  background-color: #fa5883;
}
.taskListStyle_body_line .btn-task-lang.btn-close:hover {
  background-color: #d34a6f;
}
.taskListStyle_body_line .btn-task-lang.btn-apply {
  background-color: #35c9ae;
}
.taskListStyle_body_line .btn-task-lang.btn-apply:hover {
  background-color: #2a9e89;
}
.taskListStyle_body_line_desc {
  display: inline-block;
  width: 36px;
}
.taskListStyle_body_line_desc > span {
  display: block;
  text-align: justify;
  text-align-last: justify;
}
.taskListStyle_body_line_value {
  display: inline-block;
  padding-left: 20px;
}
.taskListStyle_body_otherLine {
  height: 90px;
}
.taskListStyle_body_otherLine_title {
  display: inline-block;
  width: 36px;
  vertical-align: top;
  padding-top: 4px;
}
.taskListStyle_body_otherLine_title > span {
  display: block;
  text-align: justify;
  text-align-last: justify;
}
.taskListStyle_body_otherLine_width {
  display: inline-block;
  width: 100%;
}
/****************************历史任务表格样式*************************************/
.taskHistory_div {
  font-size: 12px;
  color: #636ef5;
  height: 100%;
}
.table_diy > thead > tr > th {
  padding: 10px;
  font-size: 14px;
  vertical-align: middle;
  border-bottom: 1px solid #636ef5;
  border-right: 1px solid #636ef5;
  background-color: rgba(99, 110, 245, 0.1);
}
.table_diy > tbody > tr > td {
  padding: 6px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: #6c76f5;
  background-color: #fff;
}
.btn-task-table {
  width: 60px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
.btn-task-table.btn-close {
  background-color: #fa5883;
  border: 0;
}
.btn-task-table.btn-close:hover {
  background-color: #d34a6f;
}
.btn-task-table.btn-apply {
  background-color: #35c9ae;
  border: 0;
}
.btn-task-table.btn-apply:hover {
  background-color: #2a9e89;
}
.task-search-container {
  position: absolute;
  top: 10px;
  right: 32px;
}
.task-search-container .table-search-text {
  width: 280px;
  height: 24px;
  border-radius: 3px;
  padding-left: 10px;
  border: solid 1px rgba(24, 40, 72, 0.2);
}
.task-search-container .table-search-text:focus {
  border-color: #636ef5;
  box-shadow: none;
  outline: none;
}
.task-search-container .empty-input-text {
  position: relative;
  cursor: pointer;
  right: -255px;
  top: -20px;
  width: 20px;
  height: 20px;
  color: #d6d6d6;
  background: url('../../images/webEditor/task/icon_clear.png') no-repeat;
}
.task-search-container .empty-input-text:hover {
  color: #636ef5;
}
.task-btn-option {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
}
.task-btn-option:hover {
  box-shadow: none !important;
}
.task-btn-option .btn-close {
  width: 120px;
  height: 24px;
  line-height: 10px;
  color: #fff;
  background-color: #3399ff;
  border-radius: 3px;
}
.task-btn-option .btn-task-default {
  width: 120px;
  height: 24px;
  line-height: 10px;
  color: #000000;
  background-color: #fffafe;
  border-radius: 3px;
}
.task-btn-option .task-btn-group {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  z-index: 1;
  display: flex;
  height: 50px;
  line-height: 3;
  align-items: center;
}
.task-btn-option .task-btn-group .checkbox-container {
  margin-right: 10px;
}
.task-btn-option .task-btn-group .checkbox-container input[type=checkbox].fm-control {
  padding: 0px;
  margin: 5px 5px 5px 0px;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  content: url(../../images/webEditor/form/checkbox.png);
}
.task-btn-option .task-btn-group .checkbox-container input[type=checkbox].fm-control:checked {
  content: url(../../images/newPoi/rightPanelIcon/button-click-checkbox.png);
}
.task-btn-option .task-btn-group .task-btn-dropdown .btn-task-primary {
  width: 120px;
  height: 24px;
  line-height: 10px;
  color: #fff;
  background-color: #3399ff;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-btn-option .task-btn-group .task-btn-dropdown .btn-task-primary[aria-expanded=true] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.task-btn-option .task-btn-group .task-btn-dropdown .dropdown-menu {
  background-color: #3399ff;
  min-width: 120px;
  margin-top: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  height: 24px;
  line-height: 1;
}
.task-btn-option .task-btn-group .task-btn-dropdown .dropdown-menu li div {
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
}
.taskTable div.ui-grid-cell input[type=checkbox].fm-control {
  padding: 0px;
  margin: 5px 5px 5px 0px;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  content: url(../../images/webEditor/form/checkbox.png);
}
.taskTable div.ui-grid-cell input[type=checkbox].fm-control:checked {
  content: url(../../images/newPoi/rightPanelIcon/button-click-checkbox.png);
}
.taskTable .small-loading-gif {
  background: url('../../images/poi/icon/loading-cycle.gif') no-repeat;
  width: 16px;
  height: 16px;
  margin-top: 2px;
}
.taskTable .ui-grid-header-canvas {
  background-color: rgba(99, 110, 245, 0.1);
}
.taskTable .task-table-option {
  display: flex;
}
.taskTable .task-underline-blue {
  cursor: pointer;
  color: #3399ff;
  text-decoration: underline;
}
.taskTable .task-underline-red {
  cursor: pointer;
  color: #ff6699;
  text-decoration: underline;
}
.taskTable .task-underline-disabled {
  color: rgba(24, 40, 72, 0.5);
}
.task-list-continer .task-model-container {
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  z-index: 1;
  top: 40%;
  left: 40%;
  transition: none;
  box-shadow: 0 4px 20px #5c78a7;
}
.task-list-continer .task-model-container .task-model-head {
  display: flex;
  border-bottom: 1px solid #636ef5;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
  cursor: move;
}
.task-list-continer .task-model-container .task-model-head .task-model-title {
  color: #fa5883;
  font-size: 14px;
  font-weight: bold;
}
.task-list-continer .task-model-container .task-model-head .task-model-close div {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
  background: url(../../images/webEditor/dialog/close.png) no-repeat;
}
.task-list-continer .task-model-container .task-model-content ul {
  padding: 10px;
}
.task-list-continer .task-model-container .task-model-content ul li {
  list-style-type: none;
  margin: 5px;
}
.task-list-continer .task-model-container .task-model-content ul li .search-meshes-input {
  color: #182848;
  font-size: 12px;
  width: 100%;
  height: 24px;
  display: inline-block;
  box-shadow: none;
  padding: 6px 8px;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.task-list-continer .task-model-container .task-model-content ul li .search-meshes-input:focus {
  border-color: #5693ff;
  box-shadow: none;
  outline: none;
}
.task-list-continer .task-model-container .task-model-fooder {
  border-top: 1px solid #39f;
  padding: 7px 0px;
  display: flex;
  justify-content: flex-end;
}
.task-list-continer .task-model-container .task-model-fooder .task-btn {
  width: 120px;
  height: 24px;
  line-height: 10px;
  margin-right: 10px;
  color: #fff;
  background-color: #3399ff;
  border-radius: 3px;
}
/*下拉框样式*/
select.fm-control {
  display: inline-block;
  width: 100%;
  height: 24px;
  line-height: 22px;
  border-color: rgba(24, 40, 72, 0.3);
  border-radius: 3px;
  padding: 0 12px 0 10px;
  box-shadow: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff;
  background: url('../../images/webEditor/form/select-close.png') no-repeat right center transparent;
  background-origin: content-box;
  color: #182848;
  font-size: 12px;
  cursor: pointer;
}
select.fm-control:focus {
  border-color: #5693ff;
  box-shadow: none;
  outline: none;
  background-color: #ffffff;
  background: url('../../images/webEditor/form/select-open.png') no-repeat right center transparent;
  background-origin: content-box;
  color: #5693ff;
}
select.fm-control > option {
  color: #182848;
  font-size: 12px;
}
